**/*
!CHANGELOG.md
!LICENSE
!README.md
!language-configuration.json
!package.json
!package.nls.json
!package.nls.zh-cn.json
!images/**
!media/**
!syntax/**
!syntaxes/**
!themes/**
!resources/bridge/spss_bridge.py
!out/src/**/*.js
